body {
     font-family: Arial, sans-serif;
     padding: 20px;
}

h1 {
    text-align: center;
}

.Formm{
	box-shadow: 0px 8px 12px 2px rgb(0,0,0,0.24);
	width:440px;
	height:880px;
	padding-top:5px;
	position:relative;
	left:490px;
}

.background{
	 background: rgb(234, 101, 36);
	height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: skewY(10deg);
    transform-origin:  right top ;
    z-index: -1;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}


	