#calendar_elm {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.99em !important;
    color: #333;
}

.cld-main {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.11);
}

.cld-main a {
    color: #000;
    text-decoration: none
}

.cld-datetime {
    position: relative;
    width: 60%;
    min-width: 100px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.cld-datetime .today {
    position: relative;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: #ea6524;
}

.cld-nav {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 2px;
}

.cld-nav:hover {
    cursor: pointer;
}

.cld-nav:hover svg {
    fill: #666;
}

.cld-rwd {}

.cld-fwd {}

.cld-nav svg:hover {}

.cld-days {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cld-labels {
    padding: 0px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cld-label,
.cld-day {
    display: inline-block;
    text-align: center;
    margin: 4px;
    border-radius: 5px;
}

.cld-day.today .cld-number {
    background: #42ceb8;
    color: #fff;
}

.cld-day.disableDay {
    opacity: 0.5;
}

.cld-day.nextMonth,
.cld-day.prevMonth,
.cld-day.nextMonth,
.cld-day.prevMonth p {
    opacity: 1;
    color: rgba(0, 0, 0, 0.27) !important;
}

.cld-number {
    position: relative;
    padding: 9px;
    margin: 0;
}

.cld-title {
    position: absolute;
    z-index: 5;
    display: none;
    top: 30px;
    left: 0;
    padding: 2px 10px;
    background: #59bf62;
    white-space: nowrap;
    border: 1px solid #59bf62;
    border-radius: 5px;
    font-size: 12px;
}

.cld-number:hover .cld-title {
    display: block;
}

.cld-title::before {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 7.5px;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 7.5px solid #59bf62;
}

.cld-number.eventday {
    border: 1px solid #e71010;
    background: #ff441c !important;
    color: #FFF;
}

.cld-number.eventday:hover {
    cursor: pointer;
    background: #eee;
}

.today .cld-number.eventday:hover {
    background: #888;
}

.cld-number span:nth-child(2) {
    top: 56px;
    min-width: 68px;
    border-top: 1px solid white !important;
    border-radius: 0px;
}

.cld-number span:nth-child(2)::before {
    border-bottom: 0px !important
}

.cld-number span:nth-child(3) {
    top: 82px;
    min-width: 68px;
    border-top: 1px solid white !important;
    border-radius: 0px;
}

.cld-number span:nth-child(3)::before {
    border-bottom: 0px !important
}

.cld-days li {
    padding: 0px;
}

.cld-days li p {
    margin: 0px;
    padding: 10px 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition-duration: .3;
    font-weight: 500;
}

.cld-days li p:hover {
    background-color: #eee;
}

.cld-labels li {
    padding: 6px 0px;
    background: #062e6c;
    color: #fff;
}

.cld-nav svg {
    width: 30px;
    height: 30px;
    fill: #062e6c;
}